/* 外部样式文件 */
#backcont {
    background-image: url(../static/subway.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 100vh;
}

.dz-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-cont {
    width: 500px;
    height: 300px;
    background: #008080;
    border-radius: 5px;
    opacity: 70%;
}

.dz-title{
    text-align: center;
    color: #000000;
    font-size: 30px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.dz-user{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    height: 40px;
    display: flex;
    align-items: center;
}

.dz-user p{
    width: 50px;
    color: #000000;
    font-size: 16px;
}

.reg-view{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding-top: 10px;
}

.reg-view p{
    /* 选中状态 */
    cursor: pointer;  
    display: contents;
}

.login-btn{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0 auto;
    font-size: 16px;
}

.big-box{
    min-height: 100vh;
}

/* 顶部导航栏 */
.top-bar{
    width: 100%;
    background: #545c64;
    height: 60px;
    color:#333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.body-part{
    /* height: inherit; */
    top:60px;
    bottom: 0px;
}

.top-menu{
    margin-right: 100px;
}

.lt-title{
    text-align: center;
    color: #fffef8;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed; */
}

/* 主页定位 */
.ordering{
    position: absolute;
    top: 60px;
    left: 0;
    right:0;
    padding: 10px 0;
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: inherit; */
    bottom: 0px;
}

.searchInput{
    padding-top: 30px;
    padding-bottom: 50px;
}

/* .awa-tab{
    padding-top: 200px;
} */

.table{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top:0px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    
    width: 100%;
    height: 50px;
    align-self: flex-end;
    bottom: 0px;
}